<div class="centered-form">
  <div class="centered-form-column">
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container mt-5">
        <div class="mb-3">
          <label for="login" class="form-label">Login :</label>
          <input type="text" id="login" formControlName="login" class="form-control">
          <div *ngIf="loginForm.get('login')?.errors?.['required'] && loginForm.get('login')?.touched" class="text-danger">Login est requis</div>
          <div *ngIf="loginForm.get('login')?.errors?.['login'] && loginForm.get('login')?.touched" class="text-danger">Login non valide</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe:</label>
          <input type="password" id="password" formControlName="password" class="form-control">
          <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" class="text-danger">Mot de passe est requis</div>
        </div>

        <button type="submit" class="btn btn-primary">Connexion</button>

        <a routerLink="/register" class="btn btn-link">Créer un compte</a>
      </form>
    </div>
  </div>
</div>
