main {
  padding-top: 20vh;
}

mat-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

mat-card-header {
  padding: 16px 16px 16px 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

a {
  color: #002235;
  display: block;
  text-align: right;
  margin-top: 10px;
}

.connexionError {
  margin-bottom: 15px;
}
